<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/jquery.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script type="text/javascript" src="scripts/highcharts/js/highcharts.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/modules/exporting.js"></script>
  <script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/highcharts-more.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/modules/solid-gauge.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/modules/data.js"></script>
  <script type="text/javascript" src="scripts/highcharts-ng/dist/highcharts-ng.min.js"></script>
  <script type="text/javascript" src="scripts/services/chartServices.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>


</head>
<body ng-app="myApp" ng-controller="myController">

  <div>
    <input type="text" ng-model="message"/>
    <br/><br/>
    {{ message}}
  </div>


  <!--high charts start-->
  <highchart config="chartConfig"></highchart>

<button type="button" id="downloadImage" ng-click="downloadImages()">Download image Online</button>
  <button type="button" id="downloadImageOffline" ng-click="downloadImagesOffline()">Download image Offline</button>

  <div id="container"></div>


  <canvas width="500" height="300" id="canvas">Sorry, no canvas available</canvas>
  <a id="download">Download as image</a>

  <!--high charts end-->


  <!--extjs start-->


  <!--extjs end-->



</body>
</html>
