<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/FileSaver.min.js"></script>
  <script src="scripts/jquery.wordexport.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script type="text/javascript" src="scripts/highcharts/js/highcharts.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/modules/exporting.js"></script>
  <script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/highcharts-more.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/modules/solid-gauge.js"></script>
  <script type="text/javascript" src="scripts/highcharts/js/modules/data.js"></script>
  <script type="text/javascript" src="scripts/highcharts-ng/dist/highcharts-ng.min.js"></script>
  <script type="text/javascript" src="scripts/services/chartServices.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>

  <script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script>
  <script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
  <script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script>


  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $("a.word-export").click(function(event) {
        $("#page-content").wordExport();
      });
    });
  </script>

</head>
<body ng-app="myApp" ng-controller="myController">

  <div>
    <input type="text" ng-model="message"/>
    <br/><br/>
    {{ message}}
  </div>

  <form>
    <label for="hconline">High Charts Online</label>
    <input id="hconline" type="radio" name="hconline" ng-model="typeOfExport" value="hconline">
    <br />
    <label for="hcoffline">High Charts Offline</label>
    <input id="hcoffline" type="radio" name="hcoffline" ng-model="typeOfExport" value="hcoffline">
    <br />
    <label for="usingcanvas">Canvas</label>
    <input id="usingcanvas" type="radio" name="usingcanvas" ng-model="typeOfExport" value="usingcanvas">
    <br />
    <label for="usingextjs">Extjs</label>
    <input id="usingextjs" type="radio" name="usingextjs" ng-model="typeOfExport" value="usingextjs">
  </form>

  <div>
    <div ng-show="typeOfExport == 'hconline'">
      <highchart id= "highChartImage" config="highChartsObject"></highchart>

      <button type="button" id="downloadImage" ng-click="downloadImages()">Download image Online</button>
      <div id="image1"></div>
      <button type="button" ng-click="exportWord()">Export to Word</button>
    </div>
    <div ng-show="typeOfExport == 'hcoffline'">
      <highchart id= "highChartImage" config="highChartsObject"></highchart>
      <canvas width="500" height="300" id="highChartCanvas" ng-show="false"></canvas>
      <button type="button" id="downloadImageOffline" ng-click="downloadImagesOffline()">Download image Offline</button>
    </div>
    <div ng-show="typeOfExport == 'usingcanvas'">
      <canvas width="500" height="300" id="canvas">Sorry, no canvas available</canvas>
      <a id="download">Download as image</a>
    </div>
    <div ng-show="typeOfExport == 'usingextjs'">

    </div>
  </div>


</body>
</html>
